* {
  box-sizing: border-box;
  image-rendering: optimizespeed;
  image-rendering: pixelated;
  margin: 0.25em;
}

body {
  font-size: 1.125em;
}

canvas {
  border: 1px solid #000000;
}

table {
  border-collapse: collapse;
}
td {
  vertical-align: top;
  border: 1px solid #c0c0c0;
  padding: 0.25em;
}

#objectTableTable {
  width: 10em;
}
td.object {
  font-family: monospace;
  font-size: 1.25em;
  padding: 0.5em;
}
td.object.current-object {
  background-color: #ffffc0;
}
